@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Admin page</title>
        

    </head>
    <body>
        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script src="/js/bootstrap.js"></script>
   <h3 style="color: #00bc8c;">Администратор бөлімі</h3><br>    
        
       
</body>
</html>
}
