
<ul class="nav nav-pills menu">
  <li><a href="#">ГЛАВНАЯ</a></li>
  <li><a href="#">ГАЛЕРЕЯ</a></li>
  <li><a href="#">МЕНЮ</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      РЕЗЕРВИРОВАНИЕ<span class="caret"></span>
    </a>
    <ul class="dropdown-menu dr_menu">
     <li><a href="@Url.Action("ResTab", "ResTab")">Резервирование стола</a></li>
      <li><a href="#">Изменение резервирования</a></li>
    </ul>
  </li>
  <li><a href="#">О НАС </a></li>
  <li><a href="#">КОНТАКТЫ</a></li>
</ul>
